{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

    <div class="container">

        <br>
        <br>

        <h1 class="text-center">Alle Fahrten</h1>

        <br>
        <br>

        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Fahrt(ID)</th>
                        <th scope="col">Fahrt(Dateiname)</th>
                        <th scope="col">Fahrer(Name)</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fahrt in fahrten %}
                        <tr>
                            <th scope="row">{{ fahrt.ftid }}</th>
                            <td>{{ fahrt.dateiname }}</td>
                            <td>{{ fahrt.fname }}</td>
                            <td> <a href="{{ url_for("show_map", id=fahrt.ftid) }}" class="btn btn-outline-dark">Show Map</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>
        <br>

    </div>

{% endblock %}